.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 4rem;
}

.menuLink{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: var(--primary);
    color: var(--text-over-primary);
    transition: all .1s ease-in-out;
    padding: 1.2rem;
    border-radius: 0.8rem;

    svg{
        width: 2.4rem;
        height: 2.4rem;
    }
}

.menuLink:hover {
    filter: brightness(80%) ;
}