.input {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 1.6rem;
  padding: 0.8rem;
  color: var(--text-primary);

  border: 0.2rem solid transparent;
  border-bottom: 0.2rem solid var(--primary);
  transition: all .5s ease-out;
}

.input::placeholder{
    color: var(--gray-500);
    font-size: 1.4rem;
    font-style: italic;
}

.input:focus {
  border-color: var(--primary);
  border-radius: 0.8rem;
}

.input:disabled{
    border-bottom: 0.2rem solid var(--disabled);
    color: var(--text-muted);
}
